<!-- templates/blog_list.html -->
{% extends 'base.html' %}

{% block title %}Blog - Mehroj Saparov{% endblock %}

{% block content %}
<h2 class="text-3xl font-bold text-center mb-8">Blog</h2>
<ul class="space-y-4">
    {% for post in object_list %}
        <li>
            <a href="{% url 'blog_detail' post.pk %}" class="text-xl font-semibold hover:underline">{{ post.title }}</a>
            <p class="text-sm text-gray-600">{{ post.pub_date|date:"F j, Y" }}</p>
        </li>
    {% empty %}
        <p class="text-center">No blog posts available.</p>
    {% endfor %}
</ul>
{% endblock %}